.App {
  font-family: 'Arial', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #f9f9f9;
}

.certificate {
  border: 2px solid #333;
  padding: 20px;
  background-color: #fff;
  width: 700px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
}

.certificate-header {
  text-align: center;
  margin-bottom: 20px;
  display: flex;
}

.logo {
  max-width: 100px;
  margin-bottom: 10px;
}

.certificate-title {
  font-size: 24px;
  margin: 5px 0;
  color: #0444bf;
}

.certificate-subtitle {
  font-size: 14px;
  margin: 5px 0;
  color: #555;
}

.certificate-heading {
  font-size: 20px;
  font-weight: bold;
  margin: 20px 0;
  color: #333;
}

.certificate-body {
  font-size: 16px;
  line-height: 1.5;
}

.certificate-details {
  margin-bottom: 15px;
}

.thank-you {
  margin-bottom: 15px;
}

.payment-details {
  margin-bottom: 15px;
}

.certificate-footer {
  margin-top: 20px;
  text-align: center;
  font-size: 14px;
  color: #777;
  border-top: 1px solid #ddd;
  padding-top: 10px;
}